
body{
    font-family: 'Poppins', sans-serif;
    background-color:#323E40 ;
    color: #f9f6f6 !important;
    /* overflow: hidden; */
}
.cursor-pointer{
  cursor: pointer;
}
/* start sidebar */
.side-nav-menu{
  z-index: 999;
}

.nav-tab{
    background-color: #D9501E;
    z-index: 998;
    
}
.nav-header{
    width: 10%;
    background-color: #D98014;
}
i{
    cursor: pointer;
}
.hidden {
  left: -300px; 
}
/* end sidebar */

/* loading screen */

#loadingScreen{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #30140a;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 16px;
    height: 16px;
    position: relative;
    left: -32px;
    border-radius: 50%;
    color: #F2A922;
    background: currentColor;
    box-shadow: 32px 0 , -32px 0 ,  64px 0;
  }
  
  .loader::after {
    content: '';
    position: absolute;
    left: -32px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background:#D9501E;
    animation: move 3s linear infinite alternate;
  }
  
  @keyframes move {
    0% , 5%{
      left: -32px;
      width: 16px;
    }
    15% , 20%{
      left: -32px;
      width: 48px;
    }
    30% , 35%{
      left: 0px;
      width: 16px;
    }
    45% , 50%{
      left: 0px;
      width: 48px;
    }
    60% , 65%{
      left: 32px;
      width: 16px;
    }
  
    75% , 80% {
      left: 32px;
      width: 48px;
    }
    95%, 100% {
      left: 64px;
      width: 16px;
    }
}
/* end loading screen */

/* start home section */
.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #a44313ca;
    color: #fff;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer{
    top: 0;
}
